@model Web.Models.OrderLine

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrderLine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderLineId" />
            <div class="form-group">
                <label asp-for="LineNumber" class="control-label"></label>
                <input asp-for="LineNumber" class="form-control" />
                <span asp-validation-for="LineNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label"></label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeId" class="control-label"></label>
                <select asp-for="ProductTypeId" class="form-control" asp-items="ViewBag.ProductTypeId"></select>
                <span asp-validation-for="ProductTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPrice" class="control-label"></label>
               <input asp-for="CostPrice" class="form-control" type="number" step="0.01" pattern="^\d+(?:\.\d{1,2})?$"/>
                <span asp-validation-for="CostPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SalesPrice" class="control-label"></label>
                <input asp-for="SalesPrice" class="form-control" type="number" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" />
                <span asp-validation-for="SalesPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeaderId" class="control-label"></label>
                <select asp-for="OrderHeaderId" class="form-control" asp-items="ViewBag.OrderHeaderId"></select>
                <span asp-validation-for="OrderHeaderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="OrderHeaders" asp-route-id="@Model?.OrderHeaderId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
